<!DOCTYPE html>
<html lang="es">
  <link rel="stylesheet" href="/css/busquedas.css">
  <link rel="stylesheet" href="/css/home2.css">
  <link rel="stylesheet" href="/css/stylesheet-home.css">
<%-include ('./partials/head.ejs') %>

<body>
   <%- include('./partials/header.ejs') %>

   <main class="main-home debajo-header-home1">
    <section class="primero">
      <div class="logo-home">
        <img class="logo-principal" src="/img/TuristAr-logo2.png" alt="">
      </div>
      <div class="barra-busqueda-home">
        <form class="boton-de-inputs-home" action="/products/search" method="get">
                <input class="campo-home" type="text" name="destino" placeholder="Destino">
                <button type="submit" class="search-home">
                    <i class="fa-solid fa-magnifying-glass lupa-home"></i>
                </button>
        </form>
      </div>
    </section>
    <section class="carrusel-home">
      <div class="carousel">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators-home">
                <% for (let i = 0; i < 5; i++) { %>
                <li class="identificador-carrusel" data-target="#carouselExampleIndicators" data-slide-to=<%= i %> <%= i === 0 ? 'class="active"' : '' %>></li>
                <% } %>
            </ol>
            <div class="carousel-inner">
                <% for (let i = 0; i < 5; i++) { %>
                <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                    <img src="/images/products/<%= products[i].images[0].name %>"
                        class="d-block w-100" alt="Slide <%= i + 1 %>">
                    <div class="info-carrusel">
                      <h2 class="productName-carrusel"><%= products[i].name %></h2>
                      <p class="productLocality-carrusel"><%= products[i].locality %>, <%= products[i].province %></p>
                      <p class="productDescription-carrusel"><%= products[i].description %></p>
                    </div>
                </div>
                <% } %>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"></script>
    </section>
    <!-- <script src="/js/carruselHome.js"></script> -->
    <section class="products-home resultados">

      <p class="hosp-home">Nuestros hospedajes</p>
      <% for (let i = 0 ; i < 8 ; i++) { %>

        <article class="card-search">
            <div class="carousel1">
                <div class="carousel-container">
                    <% for (let j = 0; j < products[i].images.length; j++) { %>
                        <a href="/products/detail/<%= products[i].id_lodging %>">
                            <img class="img" src="/images/products/<%= products[i].images[j].name %>" alt="Imagen <%= j + 1 %>">
                        </a>
                    <% } %>
                </div>
                <button class="prev-btn">&lt;</button>
                <button class="next-btn">&gt;</button>
            </div>
            <div class="info">
                <!-- Información de la tarjeta -->
                <h2 class="productName"><%= products[i].name %></h2>
                <p class="productLocality"><%= products[i].locality %>,</p>
                <p class="productProvince"><%= products[i].province %></p>
                <p class="productPrice">$ <%= products[i].price %></p>
                <a class="ver-mas" href="/products/detail/<%= products[i].id_lodging %>">Ver más</a>
            </div>
        </article>
    <% } %>
    </section>
    <a class="masProducts" href="/products">Más hospedajes</a>
   </main>
    <%- include('./partials/footer.ejs')%>
    
</body>

</html>
