

<!DOCTYPE html>
<html>


<link rel="stylesheet" href="/css/styles-login.css">
<%-include ('./partials/head.ejs') %>



<body>

    <%-include ('./partials/header.ejs') %>
    <main class="debajo-header-login">

    <h1 class="titulo-login" id="tittle">Ingresa a tu Cuenta</h1>
    <div class="fox">
    <form id="form" action="/login" method="POST" class="form-login">
        <% if (typeof error !== 'undefined' && error === 'notLoggedIn') { %>
            <div class="text-danger">
                <p class="text-danger">Debes iniciar sesión previamente para crear un hospedaje</p>
            </div>
        <% } %>
        <label>E-mail</label>
        <input type="text" id="email" name="email" value="<%= locals.old && old.email ? old.email : ''%>">
        <% if(locals.errors && locals.errors.email){ %>
            <div class="text-danger">
                <%= errors.email.msg %>
            </div>
        <% } %>

        <label>Contraseña</label>
        <input id="password" type="password" name="password">
        <% if(locals.errors && locals.errors.password){ %>
            <div class="text-danger">
                <%= errors.password.msg %>
            </div>
         <% } %>
         

         <button class="ingresar-login" type="submit" name="Ingresa">Ingresar</button>
        

        <p class="noTenesCuenta">¿No tenes cuenta? </p>
        <a class="register-login" href="/register">Registrarse</a>
    </form>
</div>
</main>

<%-include ('./partials/footer.ejs') %>

<script src="/js/front-login.js"></script>
</body>


</html>
