<!DOCTYPE html>
<html>

<%-include ('./partials/head.ejs') %>
   <link rel="stylesheet" href="css/styles-Register.css">

   <body>
      <%-include ('./partials/header.ejs') %>
        <main class="debajo-header">
            <h1 class="creaTuCuenta" id="tittle">Crea tu cuenta</h1>
            
         <div class="Reg">
            <form class="form-register" action="/register" method="POST" enctype="multipart/form-data">
               <label>Nombre</label>
               <input id="name" type="text" name="name" value="<%= locals.old && old.name ? old.name : ''%>">
               <% if(locals.errors && locals.errors.name){ %>
                  <div class="text-danger">
                      <p class="error"><%= errors.name.msg %></p>
                  </div>
              <% } %>


               <label>Apellido</label>
               <input type="text" id="last_name" name="last_name" value="<%= locals.old && old.last_name ? old.last_name : ''%>">
               <% if(locals.errors && locals.errors.last_name){ %>
                  <div class="text-danger">
                      <p class="error"><%= errors.last_name.msg %></p>
                  </div>
              <% } %>

              <label>Telefono</label>
              <input type="text" id="phone" name="phone" value="<%= locals.old && old.phone ? old.phone : ''%>">
              <% if(locals.errors && locals.errors.phone){ %>
                 <div class="text-danger">
                     <p class="error"><%= errors.phone.msg %></p>
                 </div>
             <% } %>
             <label for="birth_day">Fecha de nacimiento </label>
             <input type="date" id="birth_day" name="birth_day" value="<%= locals.old && old.birth_day ? (new Date(old.birth_day)).toISOString().substring(0, 10) : '' %>"> 

               <label>E-mail</label>
               <input type="email" id="email" name="email" value="<%= locals.old && old.email ? old.email : ''%>">
               <% if(locals.errors && locals.errors.email){ %>
                  <div class="text-danger">
                      <p class="error"><%= errors.email.msg %></p>
                  </div>
              <% } %>

               <label>Contraseña</label>
               <input type="password" id="password" name="password">
               <% if(locals.errors && locals.errors.password){ %>
                <div class="text-danger">
                      <p class="error"><%= errors.password.msg %></p>
                  </div>
                  <% } %>
                  
                  <!-- <h6>Usa entre 8 y 16 Caracteres</h6> -->
                  
                  <label>Confirmar Contraseña</label>
                  
                  <input id="password2" type="password" name="password2">
                  
                  <!-- <h6>debe coincidir con la Contraseña</h6> -->
                  <% if(locals.errors && locals.errors.password2){ %>
                    <div class="text-danger">
                        <p class="error"><%= errors.password2.msg %></p>
                    </div>
                    <% } %>
                    
                    
                <label for="genre">Sexo</label>
                <select name="genre">
                  <option value="Mujer">Femenino</option>
                  <option value="Hombre">Masculino</option>
                  <option value="-">Prefiero no decir</option>
                </select>
                
                <label for="image">Agregar imagen</label>
                <input id="image" type="file" name="image"  accept=".jpg, .png, .jpeg" class="image">
                
                <button class="confirm-register" type="submit" class="buy-now-button">Registrarse </button>

            </form>
         </div>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

        </main>
    <script src="/js/front-register.js"></script>

   </body>

   <%-include ('./partials/footer.ejs') %>
   
</html>